*

!.gitignore

!bat/
!bat/*
!doom/
!doom/*
!dunst/
!dunst/*
!fastfetch/
!fastfetch/*
!fastfetch/*/*
!ghostty/
!ghostty/*
!helix/
!helix/*
!hypr/
!hypr/*
!hypr/*/*
!hyprpanel/
!hyprpanel/*
!kanata/
!kanata/*
!kitty/
!kitty/*
!mpv/
!mpv/*
!mako/
!mako/*
!nvim/
!nvim/*
!nvim/*/*
!nvim/*/*/*
!playerctl/
!playerctl/*
!posting/
!posting/*
!qBittorrent/
!qBittorrent/themes/
!qBittorrent/themes/*
!qutebrowser/
!qutebrowser/*
!qutebrowser/*/*
!rofi/
!rofi/*
!rofi/*/*
!scripts/
!scripts/*
!scripts/*/*
!swaylock/
!swaylock/*
!tmux/
!tmux/*
tmux/plugins
!waybar/
!waybar/*
!waybar/*/*
!waypaper/
!waypaper/*
!wofi/
!wofi/*
!yazi/
!yazi/*
!yazi/*/*
!yazi/*/*/*
!zathura/
!zathura/*
!zed/
!zed/*
!zed/*/*

!.zshrc
!.bashrc

!monitors.xml

!git/
!git/*

!user-flags.conf.bkp
!zshrc-symlink.sh

!screenshots/
!screenshots/*
!docs/
!docs/*

!README.md
